@page
@model SEN_Locality_Finder.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

@*<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a asp-page="./Index" class="breadcrumb">Home</a>
            <a asp-page="./About" class="breadcrumb">About Us</a>
        </div>
    </div>
</nav>*@

<img src="~/About Us (non-commercial reuse).jpg" alt="About Us Image" class="aboutImg">

<main>
    <section aria-atomic="true">
        <h1>About Us</h1>
        <p>
            This website is designed to help you to find a perfect institution for your children.
            This website enables you as a parent or guardian to filter institutions through using the given search criterion which include:
        </p>
        @*<section>
            <ul>
                <li>
                    <strong>Age Range Selection:</strong>
                    <p>When searching, you can choose a selection of different age ranges including:</p>
                    <p>Nursery: 3-4</p>
                    <p>Special Schools: 4-16</p>
                    <p>Pupil Referral Units: 5-11</p>
                    <p>Primary Schools: 5-11</p>
                    <p>Secondary Schools: 11-16</p>
                    <p>Further Education: 16+</p>
                    <p>Academies: 16-19</p>
                </li>
            </ul>
        </section>*@ 

        <section aria-atomic="true">
            <ul>
                <li>
                    <strong>Institution Filtering:</strong>
                    <p>You can filter by the following categories:</p>
                    <p>Nurseries</p>
                    <p>Primary Schools</p>
                    <p>Secondary Schools</p>
                    <p>Further Education</p>
                    <p>16-19 Academies</p>
                    <p>Special Schools</p>
                    <p>Pupil Referral Units</p>
                </li>
            </ul>
        </section> 

        <section aria-atomic="true">
            <ul>
                <li>
                    <strong>Types of SEN Facilities Provided:</strong>
                    <p>You can filter the list of SEN facilities provided by the choosing an instituion which suits your children needs. Conditions Covered include:</p>
                    <p>Down Syndrome</p>
                    <p>Autism Spectrum</p>
                    <p>Cerebral Palsy</p>
                    <p><b>The full list is accessible when using the SEND Search function.</b></p>
                </li>
            </ul>
        </section> 
    </section> 
</main> 