@page
@model SEN_Locality_Finder.Pages.AccessibilityModel
@{
    ViewData["Title"] = "Accessibility";
}

@*<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a asp-page="./Index" class="breadcrumb">Home</a>
            <a asp-page="./Accessibility" class="breadcrumb">Accessibility</a>
        </div>
    </div>
</nav>*@

<h1>Accessibility Features</h1>

<h2><b>Text Enlargement</b></h2>
<p>
    We support the use of 'flow text' which means that when you resize your browser our website will align the text automatically, so that you can read the text conveniently.
    Alternatively, you can also hold the CTRL and press the + (plus key above the equals sign) to enlarge the text size further or for resetting it hold CTRL and press 0 (number zero).
    For High Contrast, please refer to the next section: Enabling High Contrast.
</p>

<h2><b>Enabling High Contrast</b></h2>
<p>Please follow the instructions for Mozilla Firefox and Google Chrome:</p>

<p>In <b>Mozilla Firefox</b>, go to Tools, select Options, select Colours in the middle of the Content tab and make changes to text and background colours in the Colours panel.</p>

<p>In <b>Google Chrome</b>, please install the following add-on to use high-contrast most effeciently: 'High Contrast' from Chrome Web Store.