@page
@model SEN_Locality_Finder.Pages.DataViewModel
@{
    ViewData["Title"] = "DataView";
}

<div>

    <h2>View All Information: </h2>

    <a href="~/HTML/16-19 academies.html">View All Academies</a>
    .

    <a href="~/HTML/Colleges.html">View All FE Colleges</a>
    .

    <a href="~/HTML/SEN Conditions.html">View All SEN Conditions</a>
    .

    <a href="~/HTML/Nursery.html">View All Nurseries</a>
    .

    <a href="~/HTML/PRU.html">View All Pupil Referral Units</a>
    .

    <a href="~/HTML/Secondary.html">View All Secondary Schools</a>

    <br />
    .
    <a href="~/HTML/Primary.html">View All Primary Schools</a>
    .

</div>