@page
@model SEN_Locality_Finder.Pages.BackgroundModel
@{
    ViewData["Title"] = "Demographics";
}

@*<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a asp-page="./Index" class="breadcrumb">Home</a>
            <a asp-page="./Demographics" class="breadcrumb">Demographics</a>
        </div>
    </div>
</nav>*@

<h2>SEN Locality Finder Demographics</h2>
<p>
    The data shown below indicates and describes the need for SEN Locality Finder in a visual aspect.
    The data also indicates the number of Institutions per region. This is based on each individual type of institution.
</p>

<p><b>Dashboard 1: Primary Schools, Nurseries and Academies</b></p>
<div class='tableauPlaceholder' id='viz1548863054559' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DemographicData_5&#47;Dashboard1&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='DemographicData_5&#47;Dashboard1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DemographicData_5&#47;Dashboard1&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
    </object>
</div>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1548863054559'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '1000px'; vizElement.style.height = '800px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

<hr />

<p><b>Dashboard 2: Secondary Schools, Pupil Referral Units and Special Schools</b></p>
<div class='tableauPlaceholder' id='viz1548862302097' style='position: relative'>
    <noscript>
        <a href='#'>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard2_419&#47;Dashboard2&#47;1_rss.png' style='border: none' />
        </a>
    </noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='site_root' value='' />
        <param name='name' value='Dashboard2_419&#47;Dashboard2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard2_419&#47;Dashboard2&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
    </object>
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1548862302097');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '1000px';
    vizElement.style.height = '827px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>