@page
@model SEN_Locality_Finder.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
}

<h2>FAQ's</h2>

<section aria-atomic="true">
    <h2>Why you should use SEN Locality Finder?</h2>
    <p>There are several reasons to use SEN Locality Finder to find a perfect institution for your children:</p>
</section>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Mapping:</div>
        <div class="collapsible-body"><span>We support the use specialist mapping software so that its easy for you to distinguish between institutions across England.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Searching:</div>
        <div class="collapsible-body"><span> We provide you with all the criterion you need to find your perfect institution. </span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Viewing:</div>
        <div class="collapsible-body"><span>We also upload the most up to date institution details, so that you are can make an informed decision.</span></div>
    </li>
</ul>