@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

@*<nav>
    <div class="nav-wrapper">
        <div class="col s12">
            <a asp-page="./Index" class="breadcrumb">Home</a>
            <a asp-page="./Privacy" class="breadcrumb">Privacy Policy</a>
        </div>
    </div>
</nav>*@

<h1>@ViewData["Title"]</h1>

<h2><b>GDPR Compilance</b></h2>
<p>
    The General Data Protection Regulation (GDPR) is something we take very seriously. As a result, on SEN Locality Finder's servers, we do not store any  personally identifable data,
    meaning that you can be reassured that your data is safe and will not be collected in any situation. 
</p>

<h2><b>Data Protection Act 1998</b></h2>
<p>
    The Data Protection Act (DPA) 1998 has eight principles which we abide by. If you would like to know more about this,
    please visit the ICO's website for more information regarding the GDPR Regulation and the DPA act.

    Any search history will only be stored for a specific session to facilitate a better user experience, this history automatically gets deleted after the session expires.
    Users are also in control to delete any of their browser history.
</p>