<table id="selectedTable">
    <thead>
        <tr>
            <th>Academy ID</th>
            <th>Provider URN</th>
            <th>Provider Name</th>
            <th>Provider Type</th>
            <th>Provider Group</th>
            <th>Web Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4</td>
            <td>141940</td>
            <td>Elliott Hudson College</td>
            <td>16-19 free school</td>
            <td>16-19 academies</td>
            <td>https://reports.ofsted.gov.uk/provider/46/141940</td>
        </tr>
    </tbody>
    </table>

