<table id="selectedTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Condition Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>ADHD </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Angelman Syndrome </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Aniridia </td>
        </tr>
        <tr>
            <td>4</td>
            <td>​Anorexia Nervosa</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Anxiety Disorders</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Aphasia </td>
        </tr>
        <tr>
            <td>7</td>
            <td>Apraxia </td>
        </tr>
        <tr>
            <td>8</td>
            <td>Arthritis </td>
        </tr>
        <tr>
            <td>9</td>
            <td>Asperger Syndrome </td>
        </tr>
        <tr>
            <td>10</td>
            <td>Asthma </td>
        </tr>
        <tr>
            <td>11</td>
            <td>Attachment Disorder </td>
        </tr>
        <tr>
            <td>12</td>
            <td>Atypical Autism </td>
        </tr>
        <tr>
            <td>13</td>
            <td>Auditory Processing Disorder </td>
        </tr>
        <tr>
            <td>14</td>
            <td>Autism (ASD) </td>
        </tr>
        <tr>
            <td>15</td>
            <td>Behavioural, Emotional and Social Difficulties (BE)</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Body Dysmorphic Disorder (BDD) </td>
        </tr>
        <tr>
            <td>17</td>
            <td>Borderline Personality Disorder (BPD)</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Brain Injury</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Bulimia</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Cerebellar Ataxia </td>
        </tr>
        <tr>
            <td>21</td>
            <td>Cerebral Palsy (CP) </td>
        </tr>
        <tr>
            <td>22</td>
            <td>Challenging Behaviour</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Conduct Disorder</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Crohn's Disease </td>
        </tr>
        <tr>
            <td>25</td>
            <td>Cystic Fibrosis (CF) </td>
        </tr>
        <tr>
            <td>26</td>
            <td>Developmental Delay </td>
        </tr>
        <tr>
            <td>27</td>
            <td>Diabetes </td>
        </tr>
        <tr>
            <td>28</td>
            <td>Down's Syndrome </td>
        </tr>
        <tr>
            <td>29</td>
            <td>Duane Syndrome</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Dysarthria </td>
        </tr>
        <tr>
            <td>31</td>
            <td>Dyscalculia </td>
        </tr>
        <tr>
            <td>32</td>
            <td>Dysgraphia </td>
        </tr>
        <tr>
            <td>33</td>
            <td>Dyslexia </td>
        </tr>
        <tr>
            <td>34</td>
            <td>Dysnomia </td>
        </tr>
        <tr>
            <td>35</td>
            <td>Dysplasia </td>
        </tr>
        <tr>
            <td>36</td>
            <td>Dyspraxia </td>
        </tr>
        <tr>
            <td>37</td>
            <td>Echolalia </td>
        </tr>
        <tr>
            <td>38</td>
            <td>Ehlers-Danlos Syndrome </td>
        </tr>
        <tr>
            <td>39</td>
            <td>Emotional Literacy </td>
        </tr>
        <tr>
            <td>40</td>
            <td>Epilepsy </td>
        </tr>
        <tr>
            <td>41</td>
            <td>Fragile X Syndrome </td>
        </tr>
        <tr>
            <td>42</td>
            <td>Global Developmental Delay </td>
        </tr>
        <tr>
            <td>43</td>
            <td>Glue Ear </td>
        </tr>
        <tr>
            <td>44</td>
            <td>Graphomotor Skills</td>
        </tr>
        <tr>
            <td>45</td>
            <td>Guillain Barré </td>
        </tr>
        <tr>
            <td>46</td>
            <td>Hearing Impairment (HI) </td>
        </tr>
        <tr>
            <td>47</td>
            <td>Heller's Syndrome </td>
        </tr>
        <tr>
            <td>48</td>
            <td>Hydrocephalus </td>
        </tr>
        <tr>
            <td>49</td>
            <td>Hyperacusis </td>
        </tr>
        <tr>
            <td>50</td>
            <td>Hyperlexia </td>
        </tr>
        <tr>
            <td>51</td>
            <td>Hypermobility</td>
        </tr>
        <tr>
            <td>52</td>
            <td>Hypotonia </td>
        </tr>
        <tr>
            <td>53</td>
            <td>Irlen Syndrome/Scotopic Sensitivity </td>
        </tr>
        <tr>
            <td>54</td>
            <td>Landau Kleffner Syndrome </td>
        </tr>
        <tr>
            <td>55</td>
            <td>Learning Difficulties </td>
        </tr>
        <tr>
            <td>56</td>
            <td>Moderate Learning Difficulties (MLD) </td>
        </tr>
        <tr>
            <td>57</td>
            <td>Mood Disorder </td>
        </tr>
        <tr>
            <td>58</td>
            <td>Mowat-Wilson Syndrome</td>
        </tr>
        <tr>
            <td>59</td>
            <td>Multi-Sensory Impairment (MSI) </td>
        </tr>
        <tr>
            <td>60</td>
            <td>Muscular Dystrophy </td>
        </tr>
        <tr>
            <td>61</td>
            <td>Neurofibromatosis </td>
        </tr>
        <tr>
            <td>62</td>
            <td>Noonan Syndrome </td>
        </tr>
        <tr>
            <td>63</td>
            <td>Non-Verbal Learning Difficulties (NLD) </td>
        </tr>
        <tr>
            <td>64</td>
            <td>Obsessive Compulsive Disorder (OCD) </td>
        </tr>
        <tr>
            <td>65</td>
            <td>Oppositional Defiant Disorder (ODD) </td>
        </tr>
        <tr>
            <td>66</td>
            <td>Osteogenesis Imperfecta (OI) (Brittle Bone Disease</td>
        </tr>
        <tr>
            <td>67</td>
            <td>Pathological Demand Avoidance (PDA) </td>
        </tr>
        <tr>
            <td>68</td>
            <td>﻿Pervasive Developmental Disorder (PDD) ﻿</td>
        </tr>
        <tr>
            <td>69</td>
            <td>Peter's Anomaly </td>
        </tr>
        <tr>
            <td>70</td>
            <td>Physical Disability (PD) </td>
        </tr>
        <tr>
            <td>71</td>
            <td>Pica</td>
        </tr>
        <tr>
            <td>72</td>
            <td>Profound and Multiple Learning Difficulties (PMLD)</td>
        </tr>
        <tr>
            <td>73</td>
            <td>Prader-Willi Syndrome </td>
        </tr>
        <tr>
            <td>74</td>
            <td>Proprioception </td>
        </tr>
        <tr>
            <td>75</td>
            <td>Rett Syndrome </td>
        </tr>
        <tr>
            <td>76</td>
            <td>Scoliosis </td>
        </tr>
        <tr>
            <td>77</td>
            <td>Selective Mutism </td>
        </tr>
        <tr>
            <td>78</td>
            <td>Semantic Pragmatic Disorder </td>
        </tr>
        <tr>
            <td>79</td>
            <td>Sensory Integration Disorder (SID) </td>
        </tr>
        <tr>
            <td>80</td>
            <td>Severe Learning Difficulties (SLD) </td>
        </tr>
        <tr>
            <td>81</td>
            <td>Sickle Cell Anaemia </td>
        </tr>
        <tr>
            <td>82</td>
            <td>Smith-Magenis Syndrome</td>
        </tr>
        <tr>
            <td>83</td>
            <td>Social Skills </td>
        </tr>
        <tr>
            <td>84</td>
            <td>Sotos Syndrome </td>
        </tr>
        <tr>
            <td>85</td>
            <td>Speech and Language Disorder </td>
        </tr>
        <tr>
            <td>86</td>
            <td>Spina Bifida </td>
        </tr>
        <tr>
            <td>87</td>
            <td>Tactile Defensiveness </td>
        </tr>
        <tr>
            <td>88</td>
            <td>Fragile X Syndrome </td>
        </tr>
        <tr>
            <td>89</td>
            <td>Turner Syndrome </td>
        </tr>
        <tr>
            <td>90</td>
            <td>Ulcerative Colitis </td>
        </tr>
        <tr>
            <td>91</td>
            <td>Usher Syndrome</td>
        </tr>
        <tr>
            <td>92</td>
            <td>Visual Impairment </td>
        </tr>
        <tr>
            <td>93</td>
            <td>Waardenburg Syndrome </td>
        </tr>
        <tr>
            <td>94</td>
            <td>Williams Syndrome </td>
        </tr>
        <tr>
            <td>95</td>
            <td>Working Memory</td>
        </tr>
        <tr>
            <td>96</td>
            <td>Worster-Drought Syndrome (WDS) </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>